#contact h2 {
    margin-top: 2rem;
}
.contact__container{
    margin-top: 2rem;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 48%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    padding: 1.2rem;
    border-radius: var(--border-radius-2);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background: transparent;
    border-color: #5cbdb9 ;
}

.contact__option-icon{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid #5cbdb9;
    resize: none;

}