nav{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #f7f7f7;
    box-shadow: 0 0.5rem 0.5rem #f7f7f7;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 1rem;
    font-weight: 450;
}

.nav__menu {
    display: flex;
    gap:3.5rem;
}

.nav__menu a:hover{
    color: #5cbdb9;
    font-weight: 450; 
}
