.skills__container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

.skill__container{
    padding: 0 1rem 2rem;
    border-radius: var(--border-radius-1);
    border: 1px solid transparent;
}

.skills__container > div:hover{
    background: transparent;
    border-color: var(--green);
    transition: var(--transition);
    transform: translateY(-0.5rem);
}

.skill__container > h3{
    text-align: center;
    padding: 2.4rem 5rem;
}

.skills__content{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skill__detail{
    display: flex;
    gap:1rem;
}

.skill__detail-icon{
    font-size: 1.3rem;
    color: var(--green);
}

@media screen and (max-width: 1024px) {
    .skills__container{
        display: grid;
        grid-template-columns: 1fr;
    }

   .skill__detail {
    width: 66%;
   }

   .skills__content {
    justify-items: end;
   }
}

@media screen and (max-width: 600px){
    .skills__content{
        justify-items: start;
    }
}

    
